langchain
langchain-community
langchain-groq
langchain-pinecone
langchain-core
pinecone
gitpython
sentence-transformers==2.7.0
huggingface-hub==0.36.2
transformers==4.40.0
streamlit
python-dotenv
tiktoken
torch